<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Ausstehende Benutzeraktivierungen</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<nav th:insert="~{header :: navbar}"></nav>

<h1>Ausstehende Benutzeraktivierungen</h1>

<table>
    <thead>
    <tr>
        <th>Benutzername</th>
        <th>Email</th>
        <th>Rolle</th>
        <th>Aktion</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${pendingUsers}">
        userAccount;
        <td th:text="${user.userAccount.username}">Benutzername</td>
        <td th:text="${user.userAccount.email}">Email</td>
        <td>
            <div th:with="roles=${user.userAccount.roles.toList()}">
            <span th:each="role, iterStat : ${roles}">
                <span th:text="${role.name}"></span><span th:if="${!iterStat.last}">, </span>
            </span>
            </div>
        </td>
        <td>
            <form th:action="@{/activateUser}" method="post">
                <input type="hidden" name="username" th:value="${user.userAccount.username}" />
                <button type="submit">Aktivieren</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>